
body {
  padding: 0;
  margin: 0;
  background-image: url("pictures/ast.jpg");
  color:white !important;
  text-align: center !important;
  background-size: cover;
}

ul {
	list-style: none;
}

h1 {
  background-color: grey;
}

#canvas_container {
  margin-top: 8em;
  margin-bottom: 3em;
}

#regeln{
  background-color: black;
}

#trenner{
  border-color:white;
  background-color: white;
  width:70%;
}

#start{
  color:black;
}

@media screen and (max-width: 1000px) {
  #canvas_container{
    margin-left: -6em;
  }
}
