body {
  padding: 0;
  margin: 0;
  background-image: url("pictures/ast.jpg");
  color:white !important;
  text-align: center !important;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
	min-width: 696px;
	list-style: none;
}

h1 {
  background-color: grey;
}

#canvas_container {
  margin-top: 10em;
}

#regeln{
  background-color: black;
}

#trenner{
  border-color:white;
  background-color: white;
  width:70%;
}

#start{
  color:black;
}
